.card--item {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 14px 6px rgb(200,200,200);
    padding: 10px;
    color: rgb(50,50,50);
    /* height: 250px; */
    /* flex-grow: 1; */
}

svg {
    display: none;
}

.card--item > img {
    border: 1px solid rgb(240,240,240);
    object-fit: cover;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    /* flex-grow: 1; */
    
}

.card--desc {
    font-size: 0.8rem;
    /* flex-grow: 1; */
}

.card--item > span {
    color: rgb(50,50,50);
    font-size: 0.6rem;
    /* flex-grow: 1; */
}

.card--price {
    font-size: 0.8rem;
    color: rgb(27, 109, 122);
    font-weight: bold;
    /* flex-grow: 1; */
}

.card--container {
    display: grid;
    width: 100%;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* flex-grow: 1; */
}

@media only screen and (max-width: 950px) {
    .card--container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 650px) {
    .card--container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .card--container {
        grid-template-columns: repeat(1, 1fr);
    }
}